# Dependencies
node_modules/
**/node_modules/
venv/
**/venv/
.venv/
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Build artifacts
dist/
**/dist/
target/
**/target/
.angular/
**/.angular/
*.class
*.jar
*.war

# Environment & secrets
.env
**/.env
mdps.txt

# IDE & OS
.idea/
.vscode/
*.iml
*.swp
*.swo
Thumbs.db
.DS_Store

# Data & Logs
data/raw/
**/data/raw/
backups/
**/backups/
mlruns/
logs/*.log
*.log
npm-debug.log*

# LaTeX build files
*.aux
*.toc
*.out
*.fdb_latexmk
*.fls
*.synctex.gz
*.bbl
*.blg

# Python specific
.ipynb_checkpoints/
.coverage
.pytest_cache/

# UiPath temp files
**/uipath/.local/
**/uipath/.objects/
**/uipath/.settings/
**/uipath/.tmh/
**/uipath/.project/

# Temporary / Backup files
back.txt
~$*

# Presentation & Screenshots
Presentation_PFE_Attijari.pptx
presentation.html
screenshots/
sesame logo.jpeg

# Large video files
*.mp4
